<!DOCTYPE html>
<html>
<head>
  <title>SimpleTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
